Burger List


 <ul>
  {{#each burgers}}
 
  <li>
    <p>
      {{this.burger_name}}
      <button data-id="{{this.id}}" class="devour btn btn-danger devour-btn" "Devour It!"</button>
    </p>

  </li>
  {{/each}}
</ul>


{{#each burger}}
<p>{{this.burger_name}}</p>
{{else}}
<p class="devoured"></p>
{{/each}}

<div class="burgerReady">
{{#if devoured}}
<h3>{{burger_name}}</h3>
{{/if}}
</div>

<ul>
  <li>
    {{this}}
    <button class="devour btn btn-danger devour-btn" data-id="{{id}}" "type="submit"> "Nom Nom"</button>
  </li>

<h2>DEVOURE THE BURGERS</h2>

<form id="create" class="button-size">
  <input type="text" name="burger_name" />
    <button type="submit">Order Here</button>
</form>






    
  














